modules = ["nodejs-20", "python-3.12", "web", "bash"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"
integrations = ["javascript_database:1.0.0", "javascript_anthropic_ai_integrations:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4000
externalPort = 3001

[[ports]]
localPort = 4001
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NODE_ENV = "development"
JWT_SECRET = "ba7b1a3ff533abf200d1a7e7ba3f033fb496060a661d826885517e28875b3e16e1cab67ab65c0eec0b5aefcf1a5c3e002feff96799710ed8302d63f000ceaebd"
VAPID_PUBLIC_KEY = "BBu4UN5R9TppTgdegf6D_ykG73kaKHFN4Gz3TwbiOlpcEFEkQzMTjgd1-C0BFnRcBJuOqrwDXzPCP85rlMhon_g"
VAPID_PRIVATE_KEY = "jbqe-lV6ksriV3Tibwes9vl-trHcfHbPCvyQfA1p1h4"
VAPID_EMAIL = "mailto:admin@ticketsystem.com"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000
